<div class="col-md-12">
  <div class="row">
    <!--=== 新增职位 ===-->
    <div class="job">
      <%= link_to("新增职位", new_admin_job_path, class: "btn btn-primary pull-right action-btn") %>
    </div>
  </div>

  <div class="admin-job-box">
    <% if @jobs.length > 0 %>
      <table class="table table-hover">
        <thead>
          <tr>
            <td>招聘职位</td>
            <td>职位类型</td>
            <td>公司名称</td>
            <td>工作地点</td>
            <td>薪资范围</td>
            <td>发布时间</td>
            <td class="count">已发布职位：<span><%= @jobs.count %></span></td>
          </tr>
        </thead>
        <tbody>
          <% @jobs.each do |job| %>
            <tr class="job-list <%= render_job_hidden(job) %>">
              <td class="title"><span class="<%= render_job_status(job) %>"></span> <%= link_to(job.name, admin_job_path(job)) %></td>
              <td>#</td>
              <td><%= job.company %></td>
              <td>#</td>
              <td class="wage"><%= render_job_wage(job) %></td>
              <td><%= job.created_at.strftime("%Y-%m-%d") %></td>
              <td>
                <!--=== 修改/隐藏/显示 ===-->
                <div class="action-box">
                  <%= link_to(edit_admin_job_path(job), class: "btn btn-md btn-default") do %>
                    <span class="fa fa-pencil"></span>
                  <% end %>

                  <% if job.is_hidden %>
                    <%= link_to(publish_admin_job_path(job), :method => :post, class: "btn btn-md btn-default show-btn") do %>
                      <span class="fa fa-eye"></span>
                    <% end %>
                  <% else %>
                    <%= link_to(hide_admin_job_path(job), :method => :post, data: { confirm: "确定隐藏该职位？" }, class: "btn btn-md btn-default") do %>
                      <span class="fa fa-eye-slash"></span>
                    <% end %>
                  <% end %>
                </div>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    <% else %>
      <h3 class="no-data">目前尚未发布任何职位哦，赶快去发布吧。</h3>
    <% end %>
  </div>
</div>
